





/***************************** pagenotfound *************************************/
.pageNotFoundCpontainer{
    margin: auto ;
    margin-top: 80px;
   gap: 8px;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    justify-content: center;
   
}
.pageNotFoundCpontainer h1{
    text-align: center;
}
.pageNotFoundCpontainer p{
    font-weight: bold;
}

.pageNotFoundCpontainer button{
    background-color: #FB2576;
    padding: 6px 7px;
    border: none;
    border-radius: 5px;
    color: white;
}

/***************************************** Contact ********************************************************/
.ContactUs{
    scrollbar-width :none; 
  
    overflow-y: scroll;
}
.ContactUs::-webkit-scrollbar{
    display: none;
   
}
.ContactUsRightdiv{
    display: flex;
  height: 60%;
    display: flex;
    flex-direction: column;
    width: 100%;


}
.ContactUsRight{
  display: flex;
  align-items: center;
  justify-content: center;
    gap: 3rem;


   
}
.ContactUsTitle{
    text-align: center;
    background-color: #FB2576;
    color: white;
}

/******************************************* Register Page *******************************************************/
.registerContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    flex-direction: column;
    scrollbar-width :none; 
  
    overflow-y: scroll;

}
.Registerbtn{
    background-color: #FB2576;
    border: none;
    padding: 0.5rem 3rem;
    width:215px;
    margin-bottom: 1rem;
}
.registerform{
   height:50vh;
  margin-top: 0px;

}

.forgot-btn{
    background-color: rgb(214, 211, 211);
    border: none;
    padding: 0.5rem 3rem;
    
}