.AdminDasboardContainer{
 
    border-radius: 20px;
    height: 70vh;
   margin: 2rem 2rem;
   scrollbar-width :none; 
  
   overflow-y: scroll;
}
.AdminDasboardRow{
/* background-color: red; */
    width: 90%;
   display: flex;
   flex-direction: row;
   gap: 2rem;
   
}

.AdminDasboardConlumnLeft{
  
    padding: 1rem;
    height: 70vh;
    background-color: #3F0071;
    color: white;
    border-radius: 20px;
}
.AdminDasboardConlumnRight{

    scrollbar-width :none; 
  
    overflow-y: scroll;
}

.adminlistGroup{
    background-color: #3F0071;
   color: white;
   border: none;
}
.adminlistGroup.active{
    background-color:white;
    color: black;
    width: 100%;
    border-radius: 5px;
}
.adminlistGroup::hover{
    color: black;
    border-radius: 5px;
}
.adminlistGroup h4{
    cursor: pointer;
}

.productlistdiv{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
    
}
.productlistRight{
    /* background-color: aqua; */
   width: 70%;
}
.productcardlink{
    text-decoration: none;
    color: black;
 
}

.productcardimg{
    height:18rem;
    object-fit: contain;
    height: 200px;
    width: 180px;
margin-left: 3rem;
    padding-top: 1rem;
    cursor:'pointer'
}

.dashboard{
  
    padding: 1rem;
}
.admindashboardorderleft{
  
    padding: 1rem;
}
.ordertableimg{
    object-fit: contain;
}
  
